<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="header">
    <a routerLink="/"><h1 class="titulo">Biblioteca Ranchito</h1></a>
    
    <div class="searchb">
        <form action="">
            <input  placeholder="Buscador" id="searchText" type="text" class="text">
            <!-- <input (input)="usr.filter()" placeholder="Buscador" id="searchText" type="text" class="text">
            <button class="btn" (click)="usr.filter()">
                <i class="fa fa-search "></i>
            </button> -->
        </form>
    </div>
</div>

<app-book-tag class="books-container"></app-book-tag>