<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="header" id="book">
    <a routerLink="/"><h1 class="titulo">Biblioteca Ranchito</h1></a>
    
    <div class="searchb">
        <form >
            <input  (input)= books.Search($event);  placeholder="Buscador" id="searchText" type="text" class="text">
            <!-- <input (input)="usr.filter()" placeholder="Buscador" id="searchText" type="text" class="text">
            <button class="btn" (click)="usr.filter()">
                <i class="fa fa-search "></i>
            </button> -->
        </form>
    </div>
</div>

<app-book-tag #books  id="book" class="books-container"></app-book-tag>

<div class="pages">
    <button (click)="books.previousPage()">
        <img src="../../assets/svg/before.svg" alt="go-previous">
    </button>

    <p>{{books.getPage()}}</p>

    <button (click)="books.nextPage()" >
        <img src="../../assets/svg/next.svg" alt="go-next">
    </button>
</div>