<p>works</p>
<div class="description-container">
    <h1 id="titulo">{{tags.title}}</h1>
    <div class="description-up">
        <img src={{tags.imagen}} alt={{tags.title}}>
        <p>Sinopsis</p>
        <p class="sinopsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus facere itaque cum
            doloremque fugiat, nobis
            aspernatur quas est quibusdam pariatur, enim perspiciatis saepe quo. Sit molestiae tempore quae earum iste?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, aut quisquam, eius unde eum non ducimus ut
            animi neque id ex vel. Necessitatibus, vitae? Animi mollitia quidem reiciendis sit corrupti! Lorem ipsum
            dolor sit, amet consectetur adipisicing elit. Consectetur est dolor error sed sint laborum perspiciatis
            odio. Architecto sunt fugit vitae pariatur sed saepe, quas nostrum ea praesentium reiciendis tenetur. Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Debitis nobis soluta dolorem numquam architecto fuga
            dolorum molestiae distinctio. Vitae magni officia necessitatibus vero veniam unde labore obcaecati iure
            doloremque minus!</p>
    </div>
    <div class="description-down">
        <h2 *ngIf="tags.saga == 'N/F'; else elseBlock">Saga: undefined</h2>
        <ng-template #elseBlock>
            <h2>Saga: {{tags.saga}}</h2>
        </ng-template>

        <h3 *ngIf="tags.autor == 'N/F'; else elseBlock1">Autor: undefined</h3>
        <ng-template #elseBlock1>
            <h3>Autor: {{tags.autor}}</h3>
        </ng-template>

        <h4 *ngIf="tags.categoria == 'N/F'; else elseBlock2">Categoria: undefined</h4>
        <ng-template #elseBlock2>
            <h4>Categoria: {{tags.categoria}}</h4>
        </ng-template>

        <p *ngIf="tags.volumen == -1; else elseBlock3">Volumen: undefined</p>
        <ng-template #elseBlock3>
            <p>Volumen: {{tags.volumen}}</p>
        </ng-template>

        <p *ngIf="tags.editorial == 'N/F'; else elseBlock4">Editorial: undefined</p>
        <ng-template #elseBlock4>
            <p>Editorial: {{tags.editorial}}</p>
        </ng-template>
        
        <p *ngIf="tags.fecha == -1; else elseBlock5">Fecha: undefined</p>
        <ng-template #elseBlock5>
            <p>Fecha: {{tags.fecha}}</p>
        </ng-template>
        

    </div>
</div>